@media only screen and (max-width: 768px) {
    body{
        background-color: black;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    header{ 
        margin-bottom: 4%;
        perspective: 250px;
    }
    
    #line{
        position: relative;
        left: 15%;
        background-color: white;
        width: 70%;
        height: 0.8px;
        filter: blur(100%);
        opacity: 0.4;
        transition-duration: 1s;
        z-index: -1;
        visibility: hidden;
    }
    
    #back{
        position: absolute;
        left: 20%;
        top: 14%;
        color: white;
        background-image: linear-gradient(40deg, steelblue, rgb(42, 165, 144), rgb(141, 12, 192));
        font-size: 1em;
        font-weight: bold;
        margin-left: 20.5%;
        height: 7.6vh;
        width: 20vw;
        border-radius: 5px;
        border: 2px solid grey;
        visibility: hidden;
        z-index: -1;
        transition-duration: 1s;
        animation: rotate 1s infinite ;
        
    }
    
    #header-nav{
    margin: 0.5%;
    padding: 0.5%;
    }
    main{
        display: flex;
        flex-flow: column;
        flex-direction: column-reverse;
        height: 90vh;
        perspective: 350px;
    }
    
    #screen-infor{
        position: absolute;
        visibility: hidden;
        background-color: black;
        width: 0;
        height: 0;
        border-radius: 2%;
        box-shadow: 1px 1px 4px 1px grey;
        transition-duration: 1s ;
        overflow: auto;
        z-index: -1;
     
    }
    
    #screen-infor::-webkit-scrollbar-track{
        padding: 0;
        background-color: black;
    }
    #screen-infor::-webkit-scrollbar{
    width: 6px;
    }
    #screen-infor::-webkit-scrollbar-thumb{
        box-shadow: inset 0 0 6px black;
        background-color: aquamarine;
        filter: blur(2%);
        margin: 2%;
    }
    .service-container{
        display: flex;
        /*border: none;*/
        flex-flow: row;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .service-images{
        width: 36px;
        height: 37px;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 50%;
        /* backface-visibility: hidden; */
        animation: play 3s infinite;
    }
    
    .headelines{
        /* border: 1px solid yellow; */
        font-size: 80%;
        color: white;
        margin-top: 5%;
        margin-left: 7%;
        text-align: center;
        padding: 0;
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.1 ), rgba(0, 0, 0, 0.1));
    }
    
    #portfolio-title-outer-container{
        position: relative;
        /* border: 1px solid red; */
        left: 2%;
        top: -47%;
        display: flex;
        width: 55%;
        transform: rotateY(4deg);
        border-radius: 6px;
        background-color: black;
        transition-duration: 1s;
        border-radius: 10px;
        box-shadow: 1px 1px 25px 1px steelblue;
        -webkit-box-reflect: none;

        animation: shift 9s infinite;
    }
    @keyframes shift{
        from{
            box-shadow: 1px 1px 25px 1px steelblue;
            transform: rotateY(4deg);
        }
        to{
            box-shadow: none;
            transform: rotateY(0deg);
        }
        
    }
    
    #portfolio-title-outer-container:hover{
        box-shadow: none;
        transform: none;
    
    }
    #portfolio-title-container{
        background-image: linear-gradient(40deg, rgb(60, 87, 87), steelblue, rgba(24, 62, 80, 0.2));
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid pink;
        clip-path: none;
    }
    
    #main-title{
        font-size: .9em;
        color: aquamarine;
        text-shadow: 1px 1px 0px purple;
        width: min-content;
        margin-left: 17%;
        text-transform: uppercase;
        transition-duration: 1s;
    }
    #main-image{
        position: relative;
        left: -15%;
        top: -48%;
        box-shadow: 1px 1px 3px aqua;
        width: 48%;
        height: 29%;
        border-radius: 50%;
        margin-bottom: 10%;
        transition-duration: 1s;
        -webkit-box-reflect: none;
        -moz-box-reflect: none;
        -o-box-rflect: none;
    }
    
    #qaulifications{
        /* border: 1px solid red; */
        position: absolute;
        left: 28%;
        top: 55%;
        width: 60vw;
        height: 31vh;
        border: 1px solid pink;
        transition-duration: 1s;
        background: none;
        border-radius: 10px;
        box-shadow: 1px 2px 10px aquamarine;
        -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0.1 ), rgba(0, 0, 0, 0.1));

    }
    #qaulifications:hover{
        border: none;
        -webkit-box-reflect: none;
    
        #qaulification-container{
        clip-path: none;
        }
    }
    #qaulification-container{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition-duration: 1s;
        background-image: linear-gradient(40deg, rgba(60, 87, 87, 0.3), rgb(70, 130, 180), rgba(24, 62, 80, 0.1));
        overflow: hidden;
        clip-path: none;
    
    }
    #qaulificatin-header{
        text-align: center;
        color: aqua;
        font-size: .8em;
        margin-bottom: -10;
    }
    #qaulification-list{
        text-transform: uppercase;
        color: aqua;
        margin-left: -10%;
    }
    .qaulification-item{
        font-size: .7em;
        /* width: max-content; */
        width: 100%;
        margin-bottom: 2%;
        text-shadow: 1px 1px 0 black;
    }
    #landing{
        position: relative;
        margin: 0;
        overflow: hidden;
        height: 95vh;
        width: 98vw;
     }   

    #footer-nav{
        /* border: 1px solid red; */
        display: flex;
        flex-flow: row;
        position: fixed;
        background-color: black;
        bottom: 0.3%;
        width: 100%;
        height: 13.6vh;
        margin-top: 1px;
        margin-left: 0;
        margin-right: 0;
        padding: 0.5%;
        overflow: hidden;
        perspective: 2500px;
    }
    .link-container{
        /* border: 1px solid steelblue; */
        display: flex;
        flex-flow: column;
        padding: 0;
        margin-left: 7%;
        overflow: hidden;
        width: 24%;
        height: 100%;
    }
    #facebook-container{
        overflow: hidden;
    }
    
    #linkedin-container{
        overflow: hidden;
    }
    #github-container{
        overflow: hidden;
    }
    
    .footer-link-buttons{
        color:azure;
        font-size: 83%;
        margin-left: 5%;
        margin-bottom: 30%;
        transition-duration: 0;
        transform: translateX(0);
     }
    strong{
        color: red;
    }
    
    .svg-link{
        /* padding: 0;
        margin: 0; */
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    
    .link-holder{
        position: relative;
        top: -26%;
        left: 27%;
        box-shadow: -1px 1px 2px green;
        width: 45%;
        height: 96%;
        border-radius: 50%;
        overflow: hidden;
        transform: rotateY(0deg);
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.3 ), rgba(0, 0, 0, 0.1));
        z-index: 1;
        animation: play 4s 0s infinite;
    }
    .back::before{
        content: '';
        position: absolute;
        top: 2%;
        left: -1%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotateY(180deg);
        background-color: aquamarine;
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.3 ), rgba(0, 0, 0, 0.1));
        backface-visibility: hidden;
        z-index: -1;
        animation: play2 4s 0s infinite;
     }
  
}